PORT=3002
MONGODB_URI=mongodb://127.0.0.1:27017/reservehub_data
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=reservehub.events
RABBITMQ_DATA_QUEUE=data.events
RABBITMQ_BINDING_PATTERN=core.#
